/* Background colors. */

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-danger {
  background-color: $danger;
}

.bg-warning {
  background-color: $warning;
}

.bg-success {
  background-color: $success;
}

.bg-light {
  background-color: $light;
}

.bg-dark {
  background-color: $dark;
}

/* Foreground colors. */

.fg-primary {
  color: $primary;
}

.fg-secondary {
  color: $secondary;
}

.fg-danger {
  color: $danger;
}

.fg-warning {
  color: $warning;
}

.fg-success {
  color: $success;
}

.fg-light {
  color: $light;
}

.fg-dark {
  color: $dark;
}

/* Border colors. */

.bd-primary {
  border-color: $primary;
}

.bd-secondary {
  border-color: $secondary;
}

.bd-danger {
  border-color: $danger;
}

.bd-warning {
  border-color: $warning;
}

.bd-success {
  border-color: $success;
}

.bd-light {
  border-color: $light;
}

.bd-dark {
  border-color: $dark;
}
